<table class="table">
	<thead>
		<tr>
			<th>作品タイトル</th>
			<th>ジャンル</th>
			<th>メディア</th>
			<th>日時</th>
			<th>評価</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<div id="done_list-item">
			<%= render 'done_list_item', lists: @done_list %>
		</div>
	</tbody>
</table>

