<table class="table table-hover">
	<thead>
		<tr class="success">
			<th>作品タイトル</th>
			<th>ジャンル</th>
			<th>メディア</th>
			<th>日時</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<div id="want_list-item">
			<%= render 'want_list_item', lists: @want_list %>
		</div>
	</tbody>
</table>


