$('input[type="text"], input[type="date"]').val('');
$('.want-error-message').text("");
$(':text').val('');
$('.modal').modal('hide');
$('#want-modal').on('hidden.bs.modal', function () {
 location.reload();
})
$('#flash_message').html('<p style="padding: 5px; background-color: #CBFFD3; font-size: 15px;" class="text-center">追加しました</p>');