<div class="container text-center">
	<h1 style="font-size: 50px;">404 Not Found</h1>
	<p style="font-size: 18px; margin-top: 20px;">お探しのページは見つかりませんでした。<br>URLが間違っているか、ページが存在しません。</p>
	<div class="top_link" style="margin-top: 30px;">
		<%= link_to 'トップページへ', root_path, style: "color: #000; text-decoration: underline;" %>
	</div>
</div>

