<div class="container text-center">
	<h1 style="font-size: 40px;">一時的なエラーが発生しました</h1>
	<p style="font-size: 18px; margin-top: 20px;">申し訳ございません、ただいま一時的なエラーが発生しております。<br>
	復旧作業中ですのでしばらくお待ち下さい。</p>
	<div class="top_link" style="margin-top: 30px;">
		<%= link_to 'トップページへ', root_path, style: "color: #000; text-decoration: underline;" %>
	</div>
</div>