<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>make notesです</h1>
  <p>いつもお世話になっております。</p>
  <p>何かご不明な点等、ございましたらこちらのメールにご返信ください。</p>
</body>
</html>