<!-- <%# users.each do |user| %>
	<div class="user-index-box">
		<div class="user-index-info row">
			<div class="user-index-img col-md-2">
				<%#= attachment_image_tag(user, :image, :fill, 60, 60, fallback: "no_image_mini.png", size: "60x60") %>
			</div>
			<div class="user-index-name col-md-3">
				<%#= link_to user_genres_path(user) do %>
					<%#= user.name %>
				<%# end %>
			</div>
			<div class="user-index-following-count col-md-2">
				<%#= link_to show_follow_user_path(user) do %>
					<strong><%= user.following.count %></strong> following
				<%# end %>
			</div>
			<div class="user-index-follower-count col-md-2">
				<%#= link_to show_follow_user_path(user) do %>
					<strong><%= user.followers.count %></strong> follower
				<%# end %>
			</div>
		</div>
		<div class="user-index-intro">
			<p><%#= user.introduction.to_s.slice(0..100) %></p>
		</div>
	</div>
<%# end %>
<div class="col-md-offset-4">
	<%#= paginate users %>
</div> -->