<!-- フォロー数、フォロワー数を表示 -->
<div class="stats">
  <%= link_to following_user_path(user) do %>
    <strong id="following" class="stat">
      <%= user.following.count %>
    </strong>
    <span>フォロー</span>
  <% end %>
  <%= link_to followers_user_path(user) do %>
    <strong id="followers" class="stat">
      <%= user.followers.count %>
    </strong>
    <span>フォロワー</span>
  <% end %>
</div>