<div class="container">

	<div class="about__explanation">
		<div class="row">
			<h2 class="col-xs-8 col-xs-offset-1">make notesの使い方</h2>
		</div>
		<div class="row">
			<div class="about__explanation--text-box col-xs-8 col-xs-offset-2">
				<p class="about__explanation--text text-left">
					make notesでは、「エンタメをもっと楽しみむ」をコンセプトに
					作品の記録をすることができます。
				</p>
			</div>
		</div>
	</div>

	<div class="row about-boxs">
		<div class="about-box text-center">
			<h3>観たいをメモ</h3>
			<p>観たいと思った作品を登録して	<br>
				マイリストを作成しましょう
			</p>
		</div>

		<div class="about-box col-xs-offset-1 text-center">
			<h3>観たをメモ</h3>
			<p>作品を観終わったら感想・評価を<br>
				記録しておきましょう
			</p>
		</div><br>

		<div class="about-box text-center">
			<h3>記事を書く</h3>
			<p>おすすめ作品の記事を書いて<br>
				みんなにシェアしましょう
			</p>
		</div>

		<div class="about-box col-xs-offset-1 text-center">
			<h3>フォローする</h3>
			<p>ユーザーをフォローして、<br>
				そのユーザーのマイリストを参考にしましょう
			</p>
		</div>
	</div>

</div>