<div class="container">
	<h2>make notesの詳しい使い方</h2>

  <div class="how-to">
  	<div class="how-to-items col-md-10" style="margin: 10px;" >
	    <h4 style="border-bottom: 1px solid #BBB;">●ジャンルを登録しましょう</h4>
	    <p>ユーザー登録が済んだら、まずはジャンル追加をしましょう。
		  マイページにあるジャンル追加フォームより追加ができます。</br>
	    例：映画、バラエティ番組、ドラマ、本など</br>
	    自分で追加したジャンルは削除できますが、その場合リストも消えてしまいますので十分お気をつけください。</p>
	  </div>

    <div class="how-to-items col-md-10" style="margin: 10px;">
		  <h4 style="border-bottom: 1px solid #BBB;">●リストを登録しましょう</h4>
		  <p>ジャンルを追加すると、リストを追加できるようになります。<br>
		  	<button class="btn btn-warning">観たいに追加</button> <button class="btn btn-primary">観たに追加</button>
		  ボタンをクリックして自分だけのリストを作りましょう。<br>
		  登録した後も編集することができるので、時間がないときは作品タイトルとジャンルのみで登録しておきましょう。</p>
		</div>

		<div class="how-to-items col-md-10" style="margin: 10px;">
		  <h4 style="border-bottom: 1px solid #BBB;">●記事を書きましょう</h4>
		  <p>映画やテレビ番組など、面白いと思ったものは記事を書いておすすめしましょう。<br>
		  また、自分がいいねした記事のみを表示することもできるので、良いと思った記事はいいねしておきましょう。</p>
		</div>

		<div class="how-to-items col-md-10" style="margin: 10px;">
		  <h4 style="border-bottom: 1px solid #BBB;">●フォローしましょう</h4>
		  <p><button class="btn btn-primary">フォローする</button> をクリックしてフォローすることができます。<br>
		  他のユーザーのマイリストを自分のマイリストの参考にしましょう</p>
		</div>

		<div class="how-to-items col-md-10" style="margin: 10px;">
		  <h4 style="border-bottom: 1px solid #BBB;">●ユーザー情報を編集しましょう</h4>
		  <p>ヘッダー右上にあるアカウント情報編集リンクよりユーザー情報を編集できます。<br>
		  アイコンや自己紹介が登録されていない場合ば、登録しておきましょう。</p>
		</div>
	</div>
</div>
