<!-- <div class="container-fluid"> -->
	<div class="main-visual">
		<div class="main-visual__content">
			<div class="main-visual__content--logo"></div>
			<div class="main-visual__content--text">
				<p>make notesでは、あなたが好きなエンタメを記録することができます。<br>
				見た作品は、評価・感想を記入して保存しておきましょう</p>
			</div>
		</div>
	</div>
<!-- </div> -->


<div class="container">
	<div class="row">
		<div class="top-login">
			<%= link_to "ログイン", new_user_session_path, class: "top-login__btn btn-gradient-radius" %>
		</div>
		<div class="top-signup">
			<%= link_to "新規登録はこちら", new_user_registration_path, class: "top-signup_btn" %>
		</div>
	</div>
	<div class="how-to-box">
		<div class="about__explanation">
			<div class="row">
				<h2 class="col-xs-8 col-xs-offset-1">make notes で出来ること</h2>
			</div>
		</div>

		<div class="row about-boxs">
			<div class="about-box text-center">
				<h3>観たいをメモ</h3>
				<div class="img-want"></div>
				<p>観たいと思った作品を登録して	<br>
					マイリストを作成しましょう
				</p>
			</div>

			<div class="about-box col-md-offset-1 text-center">
				<h3>観たをメモ</h3>
				<div class="img-done"></div>
				<p>作品を観終わったら感想・評価を<br>
					記録しておきましょう
				</p>
			</div><br>

			<div class="about-box text-center">
				<h3>記事を書く</h3>
				<div class="img-article"></div>
				<p>おすすめ作品の記事を書いて<br>
					みんなにシェアしましょう
				</p>
			</div>

			<div class="about-box col-md-offset-1 text-center">
				<h3>フォローする</h3>
				<div class="img-follow"></div>
				<p>ユーザーをフォローして、<br>
					そのユーザーのマイリストを参考にしましょう
				</p>
			</div>
		</div>
	</div>
</div>