@import "bootstrap-sprockets";
@import "bootstrap";



// 共通 ----------------------------------------------------------
body {
	padding-top: 90px;
	margin-bottom: 20px;
	background-color: #EEEEEE;
	font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
// (フッターを最下部に固定)
.h-100 {
	min-height: 100vh;
	position: relative;
  padding-bottom: 80px;//←footerの高さ//
  box-sizing: border-box;//←全て含めてmin-height:100vhに//
}

th {
	font-size: 17px;
	text-align: center;
}

td {
	text-align: center;
	font-size: 15px;
}

a {
	color: #000;
}

.flash-notice {
	text-align: center;
	background-color: #4682B4;
	color: #FFF;
	padding: 10px;
}

// mixin----------------------------------------------------------
	// *SNSアカウントボタン
	@mixin sns-button {
		width: 250px;
		height: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: #FFF;
		padding: 10px;
		border-radius: 10px;
	}


// よく使うパーシャル ----------------------------------------------------------
// (shared/_user_info)
.user-info-box {
	background-color: #CCC;
	border-radius: 10px;
	margin-top: 20px;
	padding: 30px 0;
	// box-shadow: 2px 2px 4px;
}
.prof-img {
	border-radius: 50%;
	margin-bottom: 20px;
}
.intro-title {
	margin-bottom: 10px;
}
.want-done-button {
	border-top: 1px solid #DDD;
	display: flex;
	justify-content: center;
}
.user-info-name {
	font-size: 20px;
}

// (shared/_stats)
.stats {
	display: flex;
	justify-content: center;
	a {
		flex-basis: 90px;
	}
	.stat {
		font-size: 15px;
		color: #000;
	}
	span {
		font-size: 12px;
		color: #000;
	}
}

// (shared/_article_box)
.new-articles {
	// width: 330px;
	position: relative;
	margin: 2em 0;
	padding: 2em 1em;
	border: solid 3px #99CC66;
	border-radius: 8px;
	.new-articles-headline {
	position: absolute;
	display: inline-block;
	top: -13px;
	left: 10px;
	padding: 0 9px;
	line-height: 1;
	font-size: 19px;
	background: #FFF;
	color: #777;
	background-color: #EEE;
	}
	.article {
		margin: 15px auto;
		// width: 260px;
		height: 75px;
		// background-color: #CCCC99;
		border: 1px solid #CCC;
		border-radius: 10px;
		padding: 5px;
		.spoiler-true {
			width: 80px;
			height: 25px;
			background-color: #CD5C5C;
			color: #000;
			padding: 3px 12px;
			border-radius: 3px;
		}
		.spoiler-false {
			width: 80px;
			height: 25px;
			background-color: #CCC;
			color: #000;
			padding: 3px 12px;
			border-radius: 3px;
		}
		.article-text {
			font-size: 12px;
			color: #000;
			padding: 10px;
		}
	}
	.new-articles-more {
		color: #777;
		text-decoration: underline;
	}
}

// (shared/_sidebar-user)
.recomend-users {
	width: 270px;
	position: relative;
	margin: 2em 0;
	padding: 2em 1em;
	border: solid 3px #99CC66;
	border-radius: 8px;
	.recomend-users-headline {
		position: absolute;
		display: inline-block;
		top: -13px;
		left: 10px;
		padding: 0 9px;
		line-height: 1;
		font-size: 19px;
		background: #FFF;
		color: #777;
		background-color: #EEE;
	}
	.recomend-user {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #DDD;
		padding: 10px 0;
		& a {
			color: #000;
		}
	}
	.recomend-user-img img {
		border-radius: 50%;
	}
}


// devise/shared/_error_messages ------------------------------------------------------------
.devise-error {
	background-color: #FFCCCC;
	border-radius: 10px;
	list-style: none;
	border: 1px solid #FF6666;
	li {
		text-align: center;
	}
}

// shared/_error_messages ------------------------------------------------------------
.error {
	background-color: #FFCCCC;
	border-radius: 10px;
	list-style: none;
	border: 1px solid #FF6666;
	li {
		text-align: center;
	}
}

// layouts/_admin_header, _user_header ----------------------------------------------------------
nav {
	height: 70px;
	background-color: #C0C0C0;
	.navbar-toggle {
		margin-top: 15px;
	}
	.brand-logo {
	display: flex;
	justify-content: center;
  align-items: center;
  width: 260px;
  min-height: 70px;
  padding: 10px 30px;
	  #logo {
		width: 200px;
		height: 50px;
		background-image: image-url("logo.png");
		background-size: contain;
		display: inline-block;
		}
	}
	.nav_item {
	color: #777;
	font-size: 15px;
	margin: 10px 10px 0;
	// background-color: #99CC66;
	border-radius: 10px;
	// border: 1px solid #808080;
		&:hover {
			background-color: #CCC;
		}
	}
}
.sp-nav {
	display: none;
}
// (headerレスポンシブ対応ハンバーガーメニュー)
@media screen and (max-width: 820px) {
	#user-header {
		display: none;
	}
	#admin-header {
		display: none;
	}
	.header {
		display: flex;
		align-items: center;
	}
	.sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transform: translateY(-100%);
    transition: all .2s ease-in-out;
   }
  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;

  }
  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateY(-50%);
  }
  #hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  #hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
  }
  .sp-nav li {
    margin: 0;
    padding: 0;
  }
  .sp-nav li span {
    font-size: 20px;
    color: #fff;
  }
  .sp-nav li a, .sp-nav li span {
    display: block;
    padding: 20px 0;
    color: #FFF;
    font-size: 20px;
  }
  /*-閉じるアイコンー*/
  .sp-nav .close {
    position: relative;
    padding-left: 20px;
  }
  .sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( 45deg );
  }
  .sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate( -45deg );
  }
  .toggle {
    transform: translateY( 0 );
    opacity: 1;
  }
}


// layouts/_footer ------------------------------------------------------------
footer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	.footer {
		height: 80px;
		border-top: 1px solid #C0C0C0;
		position: absolute;/*←絶対位置*/
	  bottom: 0; /*下に固定*/
		display: flex;
		align-items: center;
		justify-content: space-between;
		.footer__img {
			width: 30px;
			height: 30px;
			background-image: image-url("favicon30.png");
			background-size: contain;
			background-color: #EEE;
			flex-shrink: 10;
		}
		.footer__admin-link {
			margin-left: 20px;
		}
	}
}


// *home/top ------------------------------------------------------------
// (main-visual)
.main-visual__content {
	height: 300px;
	margin: 60px 0 40px 0;
	background: linear-gradient(90deg, #93FFAB 0%, #FFFFFF 50%, #93FFAB 100%);
	box-sizing : border-box;
	display: flex;
	justify-content: center;
  flex-direction: column;
  align-items: center;
	.main-visual__content--logo {
		width: 400px;
		max-width: 102%;
		height: 100px;
		background-image: image-url("logo.png");
		background-size: contain;
		margin-bottom: 30px;
	}
	p {
		text-align: center;
		font-size: 16px;
		color: #777;
	}
}
// (ログイン・新規登録リンク)
.top-login {
	text-align: center;
	.btn-gradient-radius {
		display: inline-block;
		padding: 7px 50px;
		border-radius: 25px;
		text-decoration: none;
		color: #777;
		background-color: #99CC66;
		font-size: 20px;
		margin-bottom: 20px;
		&:hover {
			background-color: #777;
			text-decoration: none;
			color: #FFF;
		}
	}
}
.top-signup {
	text-align: center;
	.top-signup_btn {
		color: #777;
		text-decoration: underline;
	}
}
// (How to make notes)
.how-to-box {
	border: 3px dashed #BBB;
	margin: 30px 0;
	.about__explanation {
		margin-bottom: 20px;
	}
	.about-boxs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.about-box {
			width: 400px;
			max-width: 85%;
			height: 270px;
			background-color: #93FFAB;
			padding: 20px;
			margin-bottom: 20px;
			border-radius: 10px;
			.img-want {
				width: 160px;
				height: 103px;
				background-image: image-url("want_to.png");
				background-size: contain;
				margin: 20px auto;
			}
			.img-done {
				width: 130px;
				height: 120px;
				background-image: image-url("done.png");
				background-size: contain;
				margin: 5px auto 12px;
			}
			.img-article {
				width: 102px;
				height: 105px;
				background-image: image-url("article.png");
				background-size: contain;
				margin: 10px auto;
			}
			.img-follow {
				width: 190px;
				height: 87px;
				background-image: image-url("follow.png");
				background-size: contain;
				margin: 20px auto;
			}
		}
	}
}


// registrations/new ------------------------------------------------------------
.signup-form-all {
	width: 70%;
	background-color: #E6FFE9;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	//(各フィールドの下に薄く線を引く)
	.form-group {
		border-bottom: 1px solid #CCFFCC;
		padding-bottom: 20px;
	}
	//(会員登録ボタン)
	.signup-button {
		display: inline-block;
		padding: 7px 0;
		border-radius: 25px;
		text-decoration: none;
		color: #777;
	  background-color: #99CC66;
	  font-size: 20px;
		&:hover {
		background-color: #777;
		text-decoration: none;
		color: #FFF;
		}
	}
	//(SNSアカウントログインのレイアウト)
	.sns-box {
		margin: 15px auto;
		display: flex;
		justify-content: space-around;
		.facebook-box {
			@include sns-button;
			background-color: #3b5998;
			.facebook-box-text {
				font-size: 18px;
				margin-bottom: 0;
			}
		}
		.google-box {
			@include sns-button;
			background-color: #DD5144;
			.google-box-text {
				font-size: 18px;
				margin-bottom: 0;
			}
		}
	}
}


// sessions/new ------------------------------------------------------------
.signin-form-all {
	background-color: #E6FFE9;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-radius: 10px;
	.form-group {
		border-bottom: 1px solid #CCFFCC;
		padding-bottom: 20px;
	}
	.signin-button {
		display: inline-block;
		padding: 7px 10px;
		border-radius: 25px;
		text-decoration: none;
		color: #777;
	  background-color: #99CC66;
	  font-size: 20px;
		margin-bottom: 20px;
		margin-top: 10px;
		border: 1px solid #808080;
		&:hover {
			background-color: #777;
			text-decoration: none;
			color: #FFF;
		}
	}
	.go-signup, .forget-password {
		color: #777;
		text-decoration: underline;
		font-size: 12px;
	}
	.forget-password {
		margin-left: 30px;
	}
}
.signin-sns-box {
	background-color: #E6FFE9;
	padding-top: 30px;
	margin-top: 20px;
	border-radius: 10px;
	.facebook-box {
    @include sns-button;
		background-color: #3b5998;
		margin: 40px auto;
		.facebook-box-text {
			font-size: 18px;
			margin-bottom: 0;
		}
	}
	.google-box {
		@include sns-button;
		background-color: #DD5144;
		margin: 40px auto;
		.google-box-text {
			font-size: 18px;
			margin-bottom: 0;
		}
	}
}


// admin/sessions/new ------------------------------------------------------------
.admin-signin-form-all {
	background-color: #E6FFE9;
	padding-top: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	.form-group {
		border-bottom: 1px solid #CCFFCC;
		padding-bottom: 20px;
	}
	.signin-button {
		display: inline-block;
		padding: 7px 10px;
		border-radius: 25px;
		text-decoration: none;
		color: #777;
	  background-color: #99CC66;
	  font-size: 20px;
		margin-bottom: 20px;
		margin-top: 10px;
		border: 1px solid #808080;
		&:hover {
			background-color: #777;
			text-decoration: none;
			color: #FFF;
		}
	}
}


// users/edit ------------------------------------------------------------
.user-edit-form-all {
  max-width: 55%;
	background-color: #E6FFE9;
	margin: 0 auto;
	padding-top: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	.form-group {
		border-bottom: 1px solid #CCFFCC;
		padding-bottom: 20px;
	}
	.edit-button {
		display: inline-block;
		padding: 7px 10px;
		border-radius: 25px;
		text-decoration: none;
		color: #777;
	  background-color: #99CC66;
	  font-size: 20px;
		margin-bottom: 20px;
		margin-top: 10px;
		border: 1px solid #808080;
		&:hover {
			background-color: #777;
			text-decoration: none;
			color: #FFF;
		}
	}
	#img_prev {
		margin-bottom: 10px;
		border-radius: 50%;
	}
	.img-box {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #CCFFCC;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}


// genres/_genre_index ------------------------------------------------------------
.genre-header {
	margin-top: 10px;
	margin-bottom: 10px;
	.genre-header-addform {
		margin-top: 20px;
	}
}
#mylist-genres-box {
	max-width: 95%;
	margin: 0 auto;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	.genre-box {
		margin-top: 10px;
		display: flex;
	  align-items: center;
		.genre-box-text {
			padding: 10px;
			border: 5px solid #CCC;
			border-radius: 10px;
			background-color: #FFF;
			&:hover {
				background-color: #CCC;
				text-decoration: none;
			}
			span {
				color: #000;
				font-size: 25px;
			}
		}
	}
}


// articles/index ------------------------------------------------------------
.article-index-search-form, .article-index-favs {
	// max-width: 70%;
	 margin-top: 15px;
}
.search-and-favorite {
	margin-top: 20px;
}

.article-index-mass {
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
	.article-index-item {
		width: 80%;
		background-color: #FFF;
		border-radius: 10px;
		margin: 10px;
		padding: 10px;
		.article-title {
			font-size: 17px;
		}
		.article-spoiler {
			width: 80px;
			height: 25px;
			background-color: #CD5C5C;
			color: #FFF;
			padding: 3px 12px;
			border-radius: 3px;
		}
		.article-text {
			padding: 10px 20px;
		}
		.spoiler-caution {
			color: #993333;
			text-align: center;
			margin-top: 10px;
		}
	}
}


// articles/show ------------------------------------------------------------
.article-show-header{
	max-width: 90%;
	margin: 0 auto 30px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #808080;
	border-radius: 3px;
	.article-user-info {
		display: flex;
		justify-content: space-around;
	  align-items: center;
	  .article-user-logo {
	   	margin-top: 10px;
	  }
	}
	.fa-heart {
		font-size: 20px;
	}
}
.article-show-body {
	max-width: 90%;
	margin: 0 auto 30px;
	border: 1px #000;
	border-style: dashed;
	padding: 20px;
}

.article-comment-form {
	max-width: 90%;
	margin: 0 auto;
}
.article-comment {
	max-width: 90%;
	margin: 0 auto 10px;
	border-bottom: 1px solid #DDDDDD;
	.article-comment-header {
		display: flex;
		justify-content: center;
		align-items: center;
		.article-comment-user {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 10px;
		}
		.comment-logo {
			border-radius: 50%;
		}
		p {
			font-size: 17px;
		}
	}
}
// ハートアイコンの下線を消す
.favorite-link {
	display: inline-block;
	text-decoration: none;
}

// users/index ------------------------------------------------------------
.user-index-box {
	padding: 10px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	&:nth-child(1) {
		border-top: 1px solid #DDD;
	}
	.user-index-info {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 15px;
		.user-index-img img {
			border-radius: 50%;
		}
		.user-index-name {
			text-align: center;
			font-size: 16px;
			& a {
				color: #000;
			}
		}
		& a {
			color: #000;
		}
	}
}


// show_follow ------------------------------------------------------------
.show-follow-list {
	margin-top: 20px;
}
.not-follow-user {
	padding-top: 30px;
	border-top: 1px solid #DDD;
}
.show-follow-list-headline {
	margin-top: 0;
}


// simple_calendar ------------------------------------------------------------
.calendar-view {
	background-color: #FFF;
	border-radius: 10px;
	margin-top: 25px;
}
.calendar-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	& span {
		font-size: 30px;
		margin: 0 10px;
	}
	& a {
		font-size: 20px;
	}
}
.modal-title {
	font-size: 25px;
	text-align: center;
}
.modal-body {
	font-size: 18px;
	text-align: center;
	& ul {
		list-style: none;
		padding: 0;
		& li {
			padding: 10px;
			border-bottom: 1px solid #DDD;
		}
	}
}
// (chartのレイアウト)
.genre-chart {
	border: 1px solid #CCC;
	margin-top: 20px;
}



// lists/show ------------------------------------------------------------
.list-show-body {
	padding-top: 20px;
	.list-show-title, .list-show-start_time, .list-show-media, .list-show-rate {
		padding: 15px 0;
		border-bottom: 1px solid #DDD;
	}
	.list-show-impression {
		padding: 10px 0 20px;
		.list-show-impression-body {
			padding: 10px;
			border: 1px solid #000;
		}
	}
}
// (モーダルのレイアウト)
.modal-header {
	background-color: #99CC66;
	padding: 0;
}
.modal-body .form-group, .rate-field {
	border-bottom: 1px solid #DDD;
	padding: 10px;
}
.modal-title {
	margin: 10px 0;
}


// lists/_want_list_item ------------------------------------------------------------
.clickable {
	cursor: pointer;
}


// lists/show ------------------------------------------------------------
.edit-delete-button {
	display: flex;
	justify-content: center;
	align-items: center;
	.list-edit-button {
		margin-right: 20px;
	}
}



// ジャンル選択のレイアウト(select_tag) ------------------------------------------------------------
.genre-select {
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	margin-left: 15px;
}
.genre-select select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.genre-select select::-ms-expand {
    display: none;
}
.genre-select.cp_sl01 {
	position: relative;
	border: 1px solid #CCC;
	border-radius: 5px;
	background: #FFF;
}
.genre-select.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.genre-select.cp_sl01 select {
	padding: 8px 20px 8px 8px;
	color: #666666;
}


// モーダルのエラーメッセージ　------------------------------------------------------------
.update-want-error-message, .edit-list-error-message, .want-error-message, .done-error-message {
	background-color: #FFCCCC;
	border-radius: 10px;
	list-style: none;
}


// lists/want,done ------------------------------------------------------------
.list-index-headline {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto 20px;
	.want-done-link {
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}
}
#change-list {
	margin: 0 auto;
}

.sort-button {
	background-color: #BBB;
	color: #000;
}


// admin/users/chart ------------------------------------------------------------
.chart {
	padding: 20px;
	margin-bottom: 10px;
	border: 1px solid #000;
	background-color: #FFF;
}


// devise/users/password/new ------------------------------------------------------------
.return-login {
	margin-top: 20px;
	text-decoration: none;
	& a {
		color: #000;
	}
}

// notifications/index, _notification-----------------------------------------------------
.n-box {
	margin-top: 40px;
}

.n-item {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 20px;
	flex-wrap: wrap;
	.n-content {
		display: flex;
		align-items: center;
	}
	.n-img {
		border-radius: 50%;
	}
}

// home/help------------------------------------------------------------
.how-to-items {
	margin: 10px;
	& h4 {
		border-bottom: 1px solid #BBB;
	}
}


// レスボンシブ対応------------------------------------------------------------
@media screen and (max-width:768px) {
	// registrations/new
	.sns-box {
		flex-direction: column;
		margin-top: 20px;
		.facebook-box, .google-box {
			margin: 0 auto 10px;
		}
	}

	// articles/index
	.article-index-headline {
		text-align: center;
	}

	// users/edit
	.user-edit-form-all {
  	max-width: 90%;
  	margin: 0 auto;
  }
}



