@import "bootstrap-sprockets";
@import "bootstrap";

/*  header  */

header {
	width: 100%;
	height: 75px;
	background-color: #C0C0C0;
	#logo {
		width: 200px;
		height: 50px;
		margin: 13px 0 0 30px;
		background-image: url(logo.png);
		background-size: contain;
		display: inline-block;
	}
	.nav_item {
		color: #C0C0C0;
		font-size: 17px;
		margin: 15px 10px 0;
		background-color: #669933;
		border-radius: 10px;
	}
}
