<header class="navbar navbar-fixed-top">
	<div class="container">
		<nav>
			<%= link_to root_path do %>
				<div id="logo"></div>
			<% end %>
			<ul class="nav navbar-nav navbar-right">
				<% if admin_signed_in? %>
					<li><%= link_to "ユーザー一覧", "#", class: "nav_item" %></li>
					<li><%= link_to "ログアウト", "#", class: "nav_item" %></li>
			    <% end %>
		    </ul>
		</nav>
	</div>
</header>