<header class="navbar navbar-fixed-top">
	<div class="container">
		<nav>
			<%= link_to root_path do %>
				<div id="logo"></div>
			<% end %>
			<ul class="nav navbar-nav navbar-right">
		        <li><%= link_to "ログイン", root_path, class: "nav_item" %></li>
		        <li><%= link_to "新規登録", "#", class: "nav_item" %></li>
		    </ul>
		</nav>
	</div>
</header>